body{
    margin: 0;
}
main{
    display: flex;
    background-color: #333;
    color: lightgray;
    width: 100vw;
}
@media (max-width: 760px){
    main{
        flex-wrap: wrap;
    }
    nav ul{
        flex-direction: row;
    }
}
nav{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items:center;
    min-width: 200px;
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: stretch;
}
nav li, nav a{
    text-decoration: unset;
    color: lightgray;
}
main section{
    padding: 0.5em 2em;
}
section p{
    max-width: 80%;
}
nav li{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #222;
    margin: 0 .2em;
    padding: 0.3em 0.5em;
    width: 100%;
    display: unset;
    text-align: left;
}
nav li:hover{
    background-color: #222;
}
